[Desktop Entry]
Name=LoveWallPaperHD
GenericName=爱壁纸HD
Comment=The best background app.
Exec=love-wallpaper
Icon=love-wallpaper
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;Utility;DesktopUtility;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings;X-SuSE-ControlCenter-LookAndFeel;
X-GNOME-Settings-Panel=lovewallpaper

Name[zh_CN]=爱壁纸HD
# Translators: those are keywords for the background control-center panel
Keywords=Wallpaper;Screen;Desktop;lovewallpaper;
Keywords[af]=Wallpaper;Screen;Desktop;agtergrond;werkskerm;muurpapier;
Keywords[ar]=خلفية;شاشة;سطح المكتب;
Keywords[as]=ৱালপেপাৰ;পৰ্দা;ডেস্কটপ;
Keywords[ast]=Fondu d'escritoriu;Pantalla;Escritoriu;
Keywords[be]=Абрус;Экран;Стол;
Keywords[bg]=Фон;Екран;Работен плот;
Keywords[bn]=ওয়ালপেপার;স্ক্রীন;ডেস্কটপ;
Keywords[ca]=Fons de pantalla;Pantalla;Escriptori;
Keywords[ca@valencia]=Fons de pantalla;Pantalla;Escriptori;
Keywords[crh]=Divar kâğıtı;Ekran;Masaüstü;
Keywords[cs]=tapeta;obrazovka;plocha;
Keywords[da]=Skrivebordsbaggrund;Skærm;Skrivebord;
Keywords[de]=Hintergrundbild;Bildschirm;Arbeitsfläche;
Keywords[el]=Ταπετσαρία;Οθόνη;Επιφάνεια εργασίας;
Keywords[en_GB]=Wallpaper;Screen;Desktop;
Keywords[eo]=Ekranfono;Ekrano;Labortablo;
Keywords[es]=Fondo de pantalla;Pantalla;Escritorio;
Keywords[et]=Taustapilt;Tapeet;Ekraan;Töölaud;
Keywords[eu]=Horma-papera;Pantaila;Mahaigaina;
Keywords[fa]=پس‌زمینه;صفحه‌نمایش;رومیزی;
Keywords[fi]=Taustakuva;Näyttö;Työpöytä;
Keywords[fr]=Papier peint;Écran;Bureau;
Keywords[ga]=Cúlbhrat;Scáileán;Deasc;
Keywords[gl]=Fondo de pantalla;Pantalla;Escritorio;
Keywords[gu]=વોલપેપર;સ્ક્રીન;ડેસ્કટોપ;
Keywords[he]=רקע;תמונת רקע;צג;מסך;
Keywords[hi]=वॉलपेपर; स्क्रीन; डेस्कटॉप;
Keywords[hu]=Háttérkép;Képernyő;Asztal;
Keywords[id]=Gambar latar;Layar;Desktop;
Keywords[it]=Rivestimento;Sfondo;Scrivania;Desktop;Wallpaper;
Keywords[ja]=Wallpaper;Screen;Desktop;壁紙;スクリーン;デスクトップ;
Keywords[kn]=ವಾಲ್‌ಪೇಪರ್;ತೆರೆ;ಗಣಕತೆರೆ;
Keywords[ko]=Wallpaper;배경 그림;Screen;화면;Desktop;바탕 화면;
Keywords[ku]=Kaxiza dîwar;Dîmender;Sermasê;
Keywords[lt]=Fonas;Ekranas;Darbastalis;
Keywords[lv]=Tapete;Ekrāns;Darbvirsma;
Keywords[mk]=Позадини;Екран;Работна површина;
Keywords[ml]=ചുമര്‍ചിത്രം;സ്ക്രീന്‍;പണിയിടം;
Keywords[mr]=वॉलपेपर;स्क्रीन;डेस्कटॉप;
Keywords[nb]=Bakgrunn;Skjerm;Skrivebord;
Keywords[nl]=Wallpaper;Screen;Desktop;Achtergrond;Scherm;Bureaublad;
Keywords[or]=ୱାଲପେପର;ପରଦା;ଡେସ୍କଟପ;
Keywords[pa]=ਵਾਲਪੇਪਰ;ਸਕਰੀਨ;ਡੈਸਕਟਾਪ;Wallpaper;Screen;Desktop;
Keywords[pl]=Tapeta;Ekran;Pulpit;
Keywords[pt]=Papel de Parede;Ecrã;Área de Trabalho;
Keywords[pt_BR]=Papel de Parede;Tela;Área de Trabalho;
Keywords[ro]=Wallpaper;Screen;Fundal;Ecran;Desktop;Monitor;Imagine;
Keywords[ru]=Обои;Экран;Рабочий;
Keywords[sk]=Tapeta;Obrazovka;Plocha;
Keywords[sl]=Slika ozadja;Zaslon;Namizje;
Keywords[sr]=Позадина;Екран;Радна површ;
Keywords[sr@latin]=Pozadina;Ekran;Radna površ;
Keywords[sv]=Skrivbordsbakgrund;Skärm;Skrivbord;
Keywords[ta]=சுவர்-காகிதங்கள் ;திரை;மேல்மேசை;
Keywords[te]=నేపథ్యచిత్రం;తెర;డెస్క్​టాప్;
Keywords[th]=ภาพพื้นหลัง;หน้าจอ;พื้นโต๊ะ;
Keywords[tr]=Duvar kağıdı;Ekran;Masaüstü;
Keywords[ug]=تام قەغىزى;ئېكران;ئۈستەلئۈستى;
Keywords[uk]=Шпалери;Екран;Стільниця;
Keywords[vi]=Wallpaper;Ảnh;nền;Screen;Màn;hình;Desktop;
Keywords[zh_CN]=Wallpaper;Screen;Desktop;壁纸;墙纸;屏幕;桌面;背景;爱壁纸;
Keywords[zh_HK]=Wallpaper;Screen;Desktop;桌布;螢幕;桌面;爱壁纸;
Keywords[zh_TW]=Wallpaper;Screen;Desktop;桌布;螢幕;桌面;爱壁纸;

